@import 'colors.styl'

.content
  overflow: hidden
  background-color: $DARKER
  
  width: 65%
  position: absolute
  top: 10rem
  bottom: 0
  left: 12.5%
  right 12.5%
  margin: 0 auto
  box-shadow: -8px 0px 2px -6px $DARKER
