@import 'colors.styl'

.content
  overflow: hidden
  background-color: $DARKER
  
  width: 70%
  position: absolute
  top: 3.0625rem
  bottom: 0
  left: 12.5%
  right 12.5%
  margin: 0 auto