@import './colors.styl'

.bottom-bar
  width: 100%
  background-color: white
  height: 0
  transition: 0.1s

.navbar
  font-family:'Roboto Mono', monospace
  height: inherit
  justify-content: space-between
  align-items: center
  margin-right: 1.0rem

.name-link
  margin-left: 1.0rem
  font-size: 1.5rem
  text-shadow: 1px 1px $RED, 2px 2px $RED
  transition: 0.5s

.name-link:hover
  text-shadow: 1px 1px $RED, 2px 2px $RED, 3px 3px $RED

.icon-fill
  fill: $WHITE

.nav-link
  font-size: 1.0rem
  height: inherit
  width: 5.0rem
  margin: 0 0.5rem

.nav-link:hover .bottom-bar
  height: 0.125rem

.nav-link .about-bottom
  background-color: $YELLOW

.nav-link .blog-bottom
  background-color: $BLUE

.nav-link .contact-bottom
  background-color: $RED

.link-set
  align-items: center