@import './colors.styl'

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

html body
  height: 100%

header
  overflow: hidden
  color: $WHITE
  background-color: $DARKER

h1, h2
  color: inherit

body
  font-family: 'Roboto', sans-serif
  color: $WHITE
  background: $DARKEST

a
  color: inherit
  text-decoration: inherit

.flex-row
  display: flex
  flex-direction: row

.flex-col
  display: flex
  flex-direction: column