.navbar
  height: inherit
  align-items: center
  justify-content: space-between

.navbar h1
  font-family: 'Roboto Mono', monospace
  
.name-link
  font-size: 1.25rem

.icon-link
  width: 5.0rem

.icon-set
  align-items: center